/* ---------------------IMPORTED FONTS--------------------- */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

/* -----------------------CSS RESET------------------------ */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------------------ROOT VARIABLES----------------------- */

:root {
    --black: #0D0D0D;
    --white: #F2F2F2;
    --green: #7ABFBF;
    --lt-green: rgba(122, 191, 191, .5);
    --orange: #EB5428;
}

/* ---------GLOBAL STYLES (mobile first/small) ------------- */

html {
    background-color: var(--lt-green);
}
body {
    font-family: "Montserrat", "Helvetica", sans-serif;
    max-width: 700px;
    min-width: 320px;
    background-color: var(--white);
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: "Bebas Neue", "Impact", sans-serif;
}
h1 { 
    font-size: 40px;
    text-align: center; 
    padding-bottom: 20px;
}
h2 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 15px;
}
h3{
    font-size: 25px;
}
p{
    font-size: 16px;
    padding: 10px 20px 0 20px;
}
a {
    text-decoration: none;
    color: var(--orange);
}
a:hover, button:hover, figure a:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

/* -------NAV styles------- */
nav {
    max-width: 700px;
    position: absolute;
    top: 0;
    left:0;
    right:0;
    margin: 0 auto;
    align-items: center;
    justify-items: center;
    background-color: var(--white);
    z-index:5;
}
nav h2 {
    visibility: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: 0;
}
nav span {
    font-family: "Bebas Neue", "Impact", sans-serif;
    font-size: 20px;
}
nav a {
    font-size: 20px;
}
/* -------MENU styles-------- */
nav menu {
    display: grid; 
    grid-template-columns: 1fr 3fr 1fr;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}
menu input {
    display: none;
}
menu li {
  list-style: none; 
}

menu li a {
  text-decoration: none;
}
menu img {
    max-width: 50px;
    padding-top: 5px;
    display: none;
}
.hidden {
    display: none;
    font-size: 16px;
    text-align: center;
    padding: 5px;
}
.hidden:hover {
    font-weight: bold;
}
menu:hover .hidden {
    display: grid;
  }
#hamburger, #signup {
    display: flex;
    flex-direction: column;
}
#signup {
    grid-column: 3/4;
    grid-row: 1/2;
}
menu li:nth-child(2) {
    align-content: center;
    width: 100%;
    background-color: var(--orange);      
}
/* ---------hamburger menu input----------- */
menu label {
    cursor: pointer;
    display: inline-block;
    user-select: none;
}
menu input {
    display: none;
}
/*--------FORM styles--------  */
form {
    display: flex;
    justify-content: center;
    grid-column: 1/4;
    padding-top: 30px;
}
input[type="search"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid var(--orange);
    width: 25ch;
    max-width: 100%;
}
nav button {
    background-color: var(--orange);
}
/* ----------MAIN styles---------- */
main {
    padding-top: 160px;
}
button {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border: none;
    padding: 10px;
    cursor: pointer;
    color: var(--orange);
    justify-self: center;
}
.article-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 20px;
}
button > span {
    font-family: "Bebas Neue", "Impact", sans-serif;
    font-size: 20px;
}
article{
    line-height: 1.5;
}
article section {
    padding: 20px;
}
article img {
    display: block;
    max-width: 100%;
    margin: 0 auto;    
}
dl {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
dl dt {
    font-weight: bold;
    grid-column: 1/2;
}
dl dd {
    grid-column: 2/3;
}
.ingredients ul {
    padding-left: 20px;
}
.ingredients ul li {
    list-style: disc;
    padding-left: 10px;
}
.directions ol {
    padding-left: 20px;
}
.directions ol li {
    list-style: decimal;
    padding-left: 10px;
    padding-bottom: 15px;
}
/* ---------ASIDE styles--------- */
aside {
    background-color: var(--green);
    padding: 10px;
}
aside h2 {
    padding-top: 20px;
    grid-column: 1/-1;
}
aside a {
    color: var(--black)
}
figure {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px;
    gap: 15px;  
}
figure:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    background-color: var(--orange);
    transition-duration: 0.5s;
}
figure img {
    max-block-size: 25vw;   
}
figcaption {
    display: flex;
    flex-direction: column;
    line-height: 1.5;   
}
figcaption strong{
    font-family: "Bebas Neue", "Impact", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
}
figcaption span {
    font-weight: bold;
}

/* -----------FOOTER styles------------ */
footer {
    font-size: 20px;
}
footer h2, footer h3, footer span {
    visibility: hidden;
    font-size: small;
    line-height: 0.5;
}
#social {
    padding: 15px;
}
#social ul {
    font-size: 20px;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
}
#social a {
    font-family: "Bebas Neue", "Impact", sans-serif;
    color: var(--orange);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#social svg {
    margin: 0 auto;
}
footer div{
    text-align: center;
    padding: 20px;
}
footer img{
    max-width: 50%;
}
footer p{
    font-family: "Bebas Neue", "Impact", sans-serif;
}

/* -------------------- MEDIA QUERY (medium) --------------- */
@media screen and (min-width: 768px) {

    body {
        max-width: 940px ;
    }
    h1{
        position: relative;
        top: 100px;
        padding: 20px;
        text-align: left;
    }
    #hamburger {
        display: none;
    }
    nav {
        max-width: 940px;
    }
    nav menu {
        font-family: "Bebas Neue", "Impact";
        grid-template-columns: 1fr repeat(7,1fr) 2fr;
        column-gap: 20px;   
        padding-bottom: 100px;
        height: 86px;
    }
    .hidden {
        display:contents;
      }
    .hidden:hover {
        font-weight: normal;
    }
    menu:hover .hidden {
        display: flex;
      }
    menu li:nth-child(2) {
        width: 10vw; 
    }
    #signup{
        grid-column: 8/11;
        grid-row: 1/2;
        justify-content: center;
    }
    menu li:nth-child(9){
        grid-column: 8/9;
        grid-row: 1/2;
    }
    menu li:nth-child(3) a,
    menu li:nth-child(4) a,
    menu li:nth-child(5) a,
    menu li:nth-child(6) a, 
    menu li:nth-child(7) a,
    menu li:nth-child(8) a,
    menu li:nth-child(9) a {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
        top: 100px;       
    }
    menu img {
        display:inline-block;
        align-self: center;
        padding: 5px;
    }
    form{
        position: absolute;
        top: 20px;
        left: 45%;
        padding-top: 10px;
    }
    article, aside, footer {
        position: relative;
        top: -80px;
    }
    .article-buttons {
        max-width: 1026px;
        margin: 0 auto;
        position: relative;
        top: 86px;
        background-color: rgba(255, 255, 255, 0.8);
    }
    button {
        background-color: transparent;
    }
    dl {
        width: 50%;
        margin: 0 auto;
    }
    .ingredients {
        float: left;
    }
    .directions {
        padding-left: 250px;
        padding-bottom: 0;
    }
    aside {
        clear: both;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    figure{
        display: flex;
        padding: 10px;
    }
    figure img {
        max-block-size: 15vw;   
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 0;
    }
    #social {
        grid-column: 2/3;
    }
    footer div {
        grid-row: 1/2;
    }
}

/* -------------------- MEDIA QUERY (large) ---------------- */
@media screen and (min-width: 1025px) {
    
    body{
        max-width: 1200px;
    }
    h1 {
        position: static;
        text-align: center;
    }
    nav {
        max-width: 1200px;;
    }
    nav menu {
        padding-bottom: 20px;
        height: 81px;
    }
    menu li:nth-child(3) a,
    menu li:nth-child(4) a,
    menu li:nth-child(5) a,
    menu li:nth-child(6) a, 
    menu li:nth-child(7) a,
    menu li:nth-child(8) a,
    menu li:nth-child(9) a {
        position: static;
        padding-top: 20px;
    }
    #signup{
        grid-column: 9/11;
    }
    form{
        position: static;
        padding-top:30px;
    }
    article, aside, footer {
        position: static;
    }
    .article-buttons {
        position: static;
        background-color: var(--white);
        display: flex;
        flex-direction: column;
        border: 2px solid var(--orange);
        margin: 0;
        align-items: center; 
    }
    .mainArticle {
        display: grid;
        grid-template-columns: 1fr 4fr 5fr;
        padding-left: 0;
    }
    .details {
        background-color: var(--black);
        color: var(--green);
        padding: 5px 0 10px 0;
    }
    dl {
        grid-template-columns: repeat(5, 1fr);
        width: 100%;
        text-align: center;
    }
    dt {
        grid-row: 1/2;
    }
    dd {
        grid-row: 2/3;
    }
    dl dt:first-of-type, dl dd:first-of-type {
        grid-column: 1/2;
    }
    dl dt:nth-of-type(2), dl dd:nth-of-type(2) {
        grid-column: 2/3;
    }
    dl dt:nth-of-type(3), dl dd:nth-of-type(3) {
        grid-column: 3/4;
    }
    dl dt:nth-of-type(4), dl dd:nth-of-type(4) {
        grid-column: 4/5;
    }
    dl dt:nth-of-type(5), dl dd:nth-of-type(5) {
        grid-column: 5/6;
    }
    .ingredients {
        padding-bottom: 20px;
    }
    aside {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    figure {
        flex-direction: column;
        padding-bottom: 0;
    }
    figure img {
        max-width: 85%;
        max-height: 85%;
        margin: 0 auto;
    }
    figcaption {
        padding: 10px 20px 0 20px;
    }
    footer div{
        display:flex;
    }
    footer img{
        max-width: 40%;
        padding-left: 10px;
    }
}

/* --------------------MEDIA QUERY (print)--------------------- */

@media print{

    @page {
        margin: 0.5in;
    }  
    nav, article img, .article-buttons, #social svg{
        display: none;
    }
    .details, .directions, .ingredients {
        float: left;
        font-size: 11px;
        line-height: 1.5;
    }
    .details, .ingredient {
        max-width: 15%;
    }
    .directions {
        max-width: 45%;
        padding-bottom: 0;
    }
    aside {
        clear: both;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 0;
    }
    body {
        
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: #fff;
        position: relative;
        top:-80px;
    }
    main {
        padding-bottom: 0;
    }

    h1, h2, h3, figcaption strong, #social a, footer p {
        font-family: Georgia, 'Times New Roman', Times, serif;
        line-height: 1;
    }
    h1 {
       font-size: 24px;
    }
    h2 {
        font-size: 20px;
        padding-top: 0;
    }
    p, figcaption {
        font-size: 11px;
        line-height: 1.5;
        padding: 0;
    }
    img, aside img, svg{
        max-height: 0.5in;
        filter: grayscale(100%);
    }
    figcaption strong, #social a {
        font-size: 14px;
        line-height: 1;
    }
    #social, footer {
        padding: 0;    
    }
    #social a {
        color:#000;    
    }
    #social a[aria-label="Facebook"]::after{
        content: "\A facebook.com";
        white-space: pre-wrap;
        text-decoration: underline; 
    }
    #social a[aria-label="Instagram"]::after{
        content: "\A instagram.com";
        white-space: pre-wrap;
        text-decoration: underline; 
    }
    #social a[aria-label="YouTube"]::after{
        content: "\A youtube.com";
        white-space: pre-wrap;
        text-decoration: underline; 
    }
    #social a[aria-label="TikTok"]::after{
        content: "\A tiktok.com";
        white-space: pre-wrap;
        text-decoration: underline; 
    }
    figcaption svg {
        width: 10px;    
    }
    footer div {
        position: relative;
        bottom: -50px;
        display: flex;
        gap: 20px;
        flex-direction: row-reverse;
        padding-top: 20px;    
    }
}